*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", serif;
  /* font-family: "Roboto", serif; */
}
ul,ol,li,a{
  text-decoration: none;
  list-style: none;
}
button{
  cursor: pointer;
}